@import url("styles/header.css");
:root{
    --azul:#5bc3ff; --fundo-azul:#00028f;
    --lilas:#a510a5; --fundo-projeto:"Dosis";
}
body{
    background-color: var(--azul);
    margin: 0; font-family: var(--fundo-projeto);
}