@import url("styles/header.css");
:root{
    --amarelo:#ffe204f7; --fundo-azul:#0000ffe4;
    --lilas:#a510a5; --fundo-projeto:"Dosis";
}
body{
    background-color: var(--amarelo);
    margin: 0; font-family: var(--fundo-projeto);
}